@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.filterDiv{
  width: calc(100vw - 80px);
}
.sortDiv{
  width: calc(100vw - 60px);
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #5c5c7b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}
.trailer-div {
  height: calc(100% - 40px);
}

/* For Webkit browsers (Chrome, Edge, Safari) */
select::-webkit-scrollbar {
  width: 3px;
}

select::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

select::-webkit-scrollbar-track {
  background-color: lightgray;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500;
  }

  .sheet-content button {
    @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
  }

  .text14_padding10 {
    @apply text-14 px-4 py-2.5 font-semibold;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .header-2 {
    @apply text-18 font-semibold text-gray-200 dark:text-gray-100;
  }

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  /* Home */
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }

  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }

  .home-header {
    @apply fixed flex flex-row justify-between items-center top-0 left-0 w-screen;
  }

  /* Sidebar */
  .sidebar {
    @apply fixed top-14 left-0 flex items-start flex-col justify-between border-r border-gray-500 pt-8 text-white;
  }
  .sidebar-items{
    @apply flex flex-col gap-36;
  }
  .sidebar-logo {
    @apply 2xl:text-26 font-ibm-plex-serif text-[26px] font-bold text-black-1 max-xl:hidden;
  }

  .sidebar-link {
    @apply flex flex-col gap-12 py-1 rounded-lg justify-center;
  }

  .sidebar-label {
    @apply text-16 font-semibold text-black-2  max-xl:hidden;
  }
}
